body{
    /* background-color: #3B3936; */
    background-image: url(../img/pexels-oleksandr-p-1031780.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
header{
  background-color: rgba(1, 64, 52, 0.374);  
  width: 100vw;
  height: 11vh;
  border: 1px double white;
}
    .titulo{
        opacity: 1000px;
        color: white;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        width: 100%;
        text-align: center;
        font-size: 4vw;
    }
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
    .background{
        background-color: #0D0D0D;
        width: 100%;
        height: 100%;
        opacity: 30%;
    }
    .caixa{
        background-color: #01403472;
        width: 75%;
        height: 75%;
        position: absolute;
        z-index: 1;
        border: 1px double white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
form{
    color: white;
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: center;

}
    label{
        font-size: 2vw;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
    }
   input{
        width:30rem;
        height: 4rem;
    }
    button{
        background-color: #01403467;
        width: 100%;
        height: 8vh;
        color: white;
        font-size: 1.8vw;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        text-transform: uppercase;
        border: 2px double white;
        border-radius: ;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;
    }
    .status{
        margin: 2vh;
    }